---
name: Test result
about: Share your test results
title: "[TEST RESULT]"
labels: test result
assignees: neosubhamoy

---

**Describe the result**
A clear and concise description of what's the final result of your testing.

**Did you noticed any problem?**
Mention if you noticed any problems or inconsistencies during the testing

**Screenshots**
If applicable, add screenshots to help explain the results.

**What's working (required):**
 - [ ] Package installation
 - [ ] Downloads
 - [ ] Settings and configurations
 - [ ] Browser integration

**Test environment (required):**
 - OS: [e.g. Windows 11]
 - OS Architecture: [e.g. x64]
 - OS Version: [e.g. 25H2 26200.6899]
 - NeoDLP Version: [e.g. 0.3.1]
 - YT-DLP Version: [e.g. 2025.10.18.232824]
 - NeoDLP Installation Mode: [e.g. msi, exe, winget]
